body {
    background-image: url("../images/ybk.png");
}


/* headerpage */

#header {
    width: 100%;
    height: 100px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
}

#header .logo {
    width: 15%;
    height: 100px;
    /* background-color: aqua; */
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#header .navigation {
    width: 65%;
    height: 100px;
    /* background-color: rgb(21, 70, 70); */
}

#header .navigation .nav_main {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

#header .navigation .nav_main .nav {
    width: 16.6%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
}

#header .navigation .nav_main .nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

#header .icon {
    width: 20%;
    height: 100px;
    /* background-color: rgb(59, 182, 182); */
}

#header .icon .icon_div_main {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

#header .icon .icon_div_main .icon_div1 {
    width: 33.3%;
    height: 50px;
    background-image: url("../images/search.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}

#header .icon .icon_div_main .icon_div2 {
    width: 33.3%;
    height: 50px;
    background-image: url("../images/cart.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}

#header .icon .icon_div_main .icon_div3 {
    width: 33.3%;
    height: 50px;
    background-image: url("../images/person.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}


/* headerpage */


/* footerpage */

#footer {
    width: 100%;
    height: 200px;
    background-color: rgb(22, 24, 24);
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

#footer .div {
    width: 25%;
    height: 200px;
    box-sizing: border-box;
    padding: 2%;
    color: white;
}

#footer .div .d1 {
    width: 100%;
    height: 70%;
}

#footer .div .d2 {
    width: 100%;
    height: 30%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-wrap: wrap;
}

#footer .div .d2 .sub {
    width: 25%;
    height: 100%;
    /* background-color: aliceblue; */
}

#footer .div .d2 .sub img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#footer .div h3 {
    color: rgb(233, 233, 88);
}


/* footerpage */


/* homepage */

#home_main .content {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}

#home_main .content .slider_main {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: bisque;
}

#home_main .content .slider_main .slider {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#home_main .content .slider_main .slider img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#home_main .content .slider_main .slider button {
    position: absolute;
}

#home_main .content .slider_main .slider .b1 {
    left: 10px;
    margin-top: 160px;
}

#home_main .content .slider_main .slider .b2 {
    right: 10px;
    margin-top: 160px;
}


/* home slider */

main {
    max-width: 1100px;
    height: 100%;
    margin: auto;
    font-family: arial;
    position: relative;
}

#slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    left: 100%;
    transition: left 1s;
}

.button {
    position: absolute;
    padding: 10px;
    z-index: 10;
    background: black;
    color: white;
}

#next.button {
    right: 0;
}

#slide1 {
    background-image: url("../images/s1.jpg");
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#slide2 {
    background-image: url("../images/s2.jpg");
}

#slide3 {
    background-image: url("../images/s3.jpg")
}


/* home slider */

#home_main .content .new_arrival {
    width: 100%;
    height: auto;
    margin-top: 50px;
    /* background-color: bisque; */
    padding-top: 40px;
}

#home_main .content .new_arrival .title {
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#home_main .content .new_arrival .title span {
    font-size: 30px;
    font-weight: bold;
}

#home_main .content .new_arrival .main_div {
    width: 100%;
    height: 200px;
    /* background-color: bisque; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#home_main .content .new_arrival .main_div .middle_div {
    width: 25%;
    height: 200px;
    /* background-color: aqua; */
}

#home_main .content .new_arrival .main_div .middle_div .div1 {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

#home_main .content .new_arrival .main_div .middle_div .div1 .div2 {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: bisque; */
}

#home_main .content .new_arrival .main_div .middle_div .div1 .div2 img {
    width: 100%;
    height: 100%;
}


/* homepage */


/* offers page */

#home_main .content .title span {
    font-size: 30px;
    text-decoration: underline;
}

#home_main .content .new_arrival .main_div .middle_div .div1 .div2_1 {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color: bisque; */
}


/* offers page */


/* gallery page */


/* #home_main .content .main_title {
    text-align: center;
} */


/* gallery page */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* userProfile */

.dropdown1 {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.dropdown1 .dropbtn1 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown1:hover .dropbtn1 {
    background-color: none;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 20px;
}

.dropdown-content1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 20px;
}

.dropdown-content1 a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown-content1 input {
    width: 230px;
    height: 30px;
    margin-top: 5px;
}